{% extends 'layout.html' %}
{% block title %}
Hangman Game
{% endblock title %}
{% block body %}

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
            </div>
            <div class="modal-body">
                <img src="" class="modal-img" />
                <h3 class="modal-message"></h3>
                <a href="/" class="btn btn-success btn-lg">Play Again!!</a>
            </div>
        </div>
    </div>
</div>

{% load static %}
<div class="container text-center">
    <img src="/static/images/hang{{ game.image }}.gif" alt="" class="p-4 hangman-img">

    <div class="py-3">
        <p class="output">{{game.guessed_word}}</p>
    </div>

    <div class="py-3 lives">Lives Remaining: <span style="font-size: 30px;"
            class="remaining-lives">{{game.lives}}</span></div>

    <div class="buttons" id="{{ game.id }}">
        <!-- <form > -->
        <input type="hidden" name="csrf" value="{{ csrf_token }}">
        <input type="button" class="btn btn-primary inp-btn" value="A">
        <input type="button" class="btn btn-primary inp-btn" value="B">
        <input type="button" class="btn btn-primary inp-btn" value="C">
        <input type="button" class="btn btn-primary inp-btn" value="D">
        <input type="button" class="btn btn-primary inp-btn" value="E">
        <input type="button" class="btn btn-primary inp-btn" value="F">
        <input type="button" class="btn btn-primary inp-btn" value="G">
        <input type="button" class="btn btn-primary inp-btn" value="H">
        <input type="button" class="btn btn-primary inp-btn" value="I">
        <input type="button" class="btn btn-primary inp-btn" value="J">
        <input type="button" class="btn btn-primary inp-btn" value="K">
        <input type="button" class="btn btn-primary inp-btn" value="L">
        <input type="button" class="btn btn-primary inp-btn" value="M">
        <input type="button" class="btn btn-primary inp-btn" value="N">
        <input type="button" class="btn btn-primary inp-btn" value="O">
        <input type="button" class="btn btn-primary inp-btn" value="P">
        <input type="button" class="btn btn-primary inp-btn" value="Q">
        <input type="button" class="btn btn-primary inp-btn" value="R">
        <input type="button" class="btn btn-primary inp-btn" value="S">
        <input type="button" class="btn btn-primary inp-btn" value="T">
        <input type="button" class="btn btn-primary inp-btn" value="U">
        <input type="button" class="btn btn-primary inp-btn" value="V">
        <input type="button" class="btn btn-primary inp-btn" value="W">
        <input type="button" class="btn btn-primary inp-btn" value="X">
        <input type="button" class="btn btn-primary inp-btn" value="Y">
        <input type="button" class="btn btn-primary inp-btn" value="Z">

        <!-- </form> -->
    </div>

    <div class="result">
        {{result}}
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $('.inp-btn').on('click', function (e) {
        game_id = e.target.parentElement.id;
        inp = e.target.value;

        $.ajax({
            url: "/",
            type: "POST",
            data: {
                game_id: game_id,
                inp: inp,
                csrfmiddlewaretoken: $('#' + game_id + ' input[name=csrf]').val()
            },
            success: function (data) {
                $('.output').text(data.guessed_word);

                if (data.lives || data.lives == 0) {
                    image_no = 6 - data.lives;
                    $('.hangman-img').attr("src", "static/images/hang" + image_no + ".gif");
                    $('.remaining-lives').text(data.lives)
                }

                if (data.status !== "ongoing") {
                    if (data.status === 'win') {
                        $('.modal-title').text("Congrats!")
                        $('.modal-img').attr("src", "static/images/success.png")
                        $('.modal-message').text("You Win!!")
                    }
                    else if (data.status === 'lose') {
                        $('.modal-title').text("OOPS!")
                        $('.modal-img').attr("src", "static/images/error.png")
                        $('.modal-message').text("Better Luck Next Time!!")
                    }
                    $(document).ready(function () {
                        $('#staticBackdrop').modal('show')
                    })
                }
            },
            error: function (data) {
                alert("Something Went Wrong!!");
            }
        })
    })
</script>
{% endblock body %}