{% extends 'layout.html' %}
{% block title %}
    Hangman Game
{% endblock title %}
{% block body %}
    {% load static %}
    <div class="container text-center">
        <img src="/static/images/hang{{ game.image }}.gif" alt="" class="p-4 hangman-img">

        <div class="py-3">
            <p class="output">{{game.guessed_word}}</p>
        </div>

        <div class="buttons">
            <form action="">
                <button type="submit" class="btn btn-primary">A</button>
                <button type="submit" class="btn btn-primary">B</button>
                <button type="submit" class="btn btn-primary">C</button>
                <button type="submit" class="btn btn-primary">D</button>
                <button type="submit" class="btn btn-primary">E</button>
                <button type="submit" class="btn btn-primary">F</button>
                <button type="submit" class="btn btn-primary">G</button>
                <button type="submit" class="btn btn-primary">H</button>
                <button type="submit" class="btn btn-primary">I</button>
                <button type="submit" class="btn btn-primary">J</button>
                <button type="submit" class="btn btn-primary">K</button>
                <button type="submit" class="btn btn-primary">L</button>
                <button type="submit" class="btn btn-primary">M</button>
                <button type="submit" class="btn btn-primary">N</button>
                <button type="submit" class="btn btn-primary">O</button>
                <button type="submit" class="btn btn-primary">P</button>
                <button type="submit" class="btn btn-primary">Q</button>
                <button type="submit" class="btn btn-primary">R</button>
                <button type="submit" class="btn btn-primary">S</button>
                <button type="submit" class="btn btn-primary">T</button>
                <button type="submit" class="btn btn-primary">U</button>
                <button type="submit" class="btn btn-primary">V</button>
                <button type="submit" class="btn btn-primary">W</button>
                <button type="submit" class="btn btn-primary">X</button>
                <button type="submit" class="btn btn-primary">Y</button>
                <button type="submit" class="btn btn-primary">Z</button>

            </form>
        </div>

        <div class="result">
            {{result}}
        </div>

    </div>
{% endblock body %}