img.hangman-img{
    width: 300px;
    height: 300px;
}
.output{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.buttons{
    width: 80%;
    margin: auto;
}
.buttons .btn{
    margin: 5px;
    font-size: 20px;
    height: 50px;
    width: 50px;
}
.lives{
    font-style: italic;
    color: red;
}

/* Modal */
.modal-body{
    text-align: center;
}
.modal-img {
    width: 70%;
}
.modal-message{
    padding: 20px 0;
    font-size: 30px;
}